/*Styling for the table info, headers, inputs, links and button*/
td, th, input, a:link, a:visited, button, select{
    color: rgb(31,194,14);
    /*background-color: rgb(78, 20, 177);*/
    background-color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 10pt;
    text-align: center;
}
/*styling for when hovering over link*/
a:hover{
    color: red;
}
/*Styling for the table caption*/
caption{
    color: rgb(31,194,14);
    font-size: 30pt;
    background: rgb(0,0,0);
    padding: 5px;
}
/*Background gif*/
body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif");
    color: rgb(31,194,14);
}
/*Styling for table color*/
table{
    border-color: rgb(31,194,14);
    margin: 0 auto;
}
div{
    font-size: 7px;
}

